# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.cache
.coverage

# Jupyter Notebook
.ipynb_checkpoints

*.pyc
*.sw[op]
*.env
*.weights
data/yolo/full/trafficsigns.weights
cfg/config.json
#data/
tmp/
model.py
weights.hdf5

build/
