attrs>=19.3.0
coverage>=5.1
Cython>=0.29.17
h5py>=2.10.0
keras>=2.3.1
opencv-contrib-python>=4.2.0.34
opencv-python>=4.2.0.34
pluggy>=0.13.1
py>=1.8.1
pydub>=0.23.1
pytest>=5.4.1
pytest-cov>=2.8.1
PyYAML>=5.3.1
randomcolor
scipy>=1.4.1
six>=1.14.0
tensorflow==1.15.2
werkzeug>=0.15.3
